.*.agda.vim
*.hi
MAlonzo
*.agdai
agda/applic
jAgda.*
project/target
*/project/target
*/target
*.jar
kdetext/CMakeFiles/CMakeOutput.log
kdetext/CMakeFiles/CMakeError.log
kdetext/CMakeFiles/cmake.check_cache
kdetext/CMakeFiles/kdetext.dir/CXX.includecache
dead/mlducky/.redo/db.sqlite3
dead/mlducky/.redo/lock.12
dead/mlducky/.redo/lock.15
dead/mlducky/.redo/lock.14
kdetext/CMakeFiles/CMakeCCompiler.cmake
kdetext/CMakeFiles/CMakeCXXCompiler.cmake
kdetext/CMakeCache.txt
kdetext/CMakeFiles/CMakeDetermineCompilerABI_C.bin
kdetext/CMakeFiles/CMakeDetermineCompilerABI_CXX.bin
kdetext/CMakeFiles/CMakeDirectoryInformation.cmake
kdetext/CMakeFiles/CMakeRuleHashes.txt
kdetext/CMakeFiles/CMakeSystem.cmake
kdetext/CMakeFiles/CompilerIdC/CMakeCCompilerId.c
kdetext/CMakeFiles/CompilerIdC/a.out
kdetext/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp
kdetext/CMakeFiles/CompilerIdCXX/a.out
kdetext/CMakeFiles/Makefile.cmake
kdetext/CMakeFiles/Makefile2
kdetext/CMakeFiles/TargetDirectories.txt
kdetext/CMakeFiles/kdetext.dir/DependInfo.cmake
kdetext/CMakeFiles/kdetext.dir/build.make
kdetext/CMakeFiles/kdetext.dir/cmake_clean.cmake
kdetext/CMakeFiles/kdetext.dir/depend.internal
kdetext/CMakeFiles/kdetext.dir/depend.make
kdetext/CMakeFiles/kdetext.dir/flags.make
kdetext/CMakeFiles/kdetext.dir/link.txt
kdetext/CMakeFiles/kdetext.dir/progress.make
kdetext/CMakeFiles/kdetext_automoc.dir/DependInfo.cmake
kdetext/CMakeFiles/kdetext_automoc.dir/build.make
kdetext/CMakeFiles/kdetext_automoc.dir/cmake_clean.cmake
kdetext/CMakeFiles/kdetext_automoc.dir/depend.internal
kdetext/CMakeFiles/kdetext_automoc.dir/depend.make
kdetext/CMakeFiles/kdetext_automoc.dir/progress.make
kdetext/CMakeFiles/progress.marks
kdetext/CMakeFiles/uninstall.dir/DependInfo.cmake
kdetext/CMakeFiles/uninstall.dir/build.make
kdetext/CMakeFiles/uninstall.dir/cmake_clean.cmake
kdetext/CMakeFiles/uninstall.dir/progress.make
agda/bar
agda/foo
agda/genapplic
agda/hello
agda/someio
agda/sqrt
agda/wordcount
agda/words.txt
ats/foo
coq/foo.glob
coq/foo.vo
cppactions/a.out
cppactions/test
cpptable/.sconsign.dblite
cpu-mystery/cpu-mystery
cpu-mystery/cpu-mystery-omp
dead/mlducky/.omakedb
dead/mlducky/.omakedb.lock
dead/mlducky/.redo/db.sqlite3-journal
dead/mlducky/.redo/lock.16
dead/mlducky/.redo/lock.17
dead/mlducky/.redo/lock.2
dead/mlducky/.redo/lock.20
dead/mlducky/.redo/lock.4
dead/mlducky/exec
decor-mystery/foo.pyx
emotion/angry.wav
emotion/happy.wav
hask-rst/hask-rst
kdetext/kdetext
kdetext/kdetext.shell
kdetext/kdetext_automoc.cpp.files
*/plugin/target
metrics/test/metrics-summary.txt
metrics/test/metrics.dot
*/test/target
metrics/test/test.dot
ocaml/.redo/db.sqlite3
ocaml/.redo/db.sqlite3-journal
ocaml/.redo/lock.2
ocaml/.redo/lock.5
ocaml/foo3
ocaml/foo3.cmi
ocaml/foo3.cmo
omp-test/omp-test
omp-test/omp-test-2
r-restart/ckpt_R_16e280261a722-2942-4e4dc787.dmtcp
r-restart/dmtcp_restart_script_16e280261a722-2942-4e4dc787.sh
rvpi-test/joe/verilog.log
rvpi-test/slave/a.out
rvpi-test/slave/ruby-vpi.vpi
rvpi-test/slave/verilog.log
rvpi-test/verilog.log
scala-up/project/boot/sbt.boot.lock
scala-up/project/boot/scala-2.8.1/org.scala-tools.sbt/sbt/0.10.0/sbt.components.lock
scala-up/project/boot/update.log
*/.target
*/plugin/.target
*/test/project/target
smacro/plugin/project/target/scala_2.9.1/cache
spice-average/long.raw
spice-average/long.sp
spice-average/setup-2.raw
spice-average/setup.raw
spoiler/.test.rst-weaver/cache
